@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-image: url("https://images.unsplash.com/photo-1531956468651-8fc931f28a9b");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
